/* generale */
img,
h1,
h2,
h3,
p,
a{
    color: black;
    text-decoration: none;

    display: block;

    margin: 0px;
}

/* header */
header{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    /* margin-bottom: 50px; */
}
.header-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
}
.header-container.first-level{
    width: 95%;
    /* gap: 20px; */
}
.header-container.second-level{
    flex-direction: column-reverse;
    width: 95%;
    gap: 20px;
    justify-content: space-between;
}
.header-container.map{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.header-item.name{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-item.nav{
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    margin: 10px 0px;
    font-size: 14px;
}
.header-item.about{
    color: grey;
}
.header-item.picture{
    width: 80%;
    max-width: 300px;

}

/* body */
body{
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}
.section-name{
    margin-top: 100px;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.portfolio.container{
    /* width: 95%; */
    display: grid;
    grid-template-columns: minmax(150px, 325px);
    /* border: 1px solid blue; */
    /* align-items: center;
    justify-items: center; */
    align-content: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 30px;
}
article.portfolio-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* border: 1px solid red; */
}
article.portfolio-card>img{
    width: 100%;
    margin-bottom: 15px;
}
article.portfolio-card>h3{
    margin: 15px 0px;
}
article.portfolio-card>p{
    margin-bottom: 20px;
    width: 80%;
}


.contact.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.contact-section{
    margin-bottom: 100px;
}
.contact.container>.container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.contact-paragraph{
    max-width: 300px;
    color: grey;
    margin-bottom: 20px;
}
.tag{
    margin-right: 20px;
    color: grey;
}
.value{
    font-weight:  bold;
    color: grey;
}


/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.footer{
    /* border: 1px solid blue; */
    padding: 0px 5%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    justify-content: space-between;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.display-tablet-desktop{
    display: none;
}
.display-mobile{
    display: inline-block;
    text-transform: uppercase;
}

hr {
    border: 1px solid rgb(230, 230, 230);
    width: 90%;
    margin: 20px;
    margin-bottom: 20px;
}


@media (min-width:640px) {
    .portfolio.container{
        grid-template-columns: minmax(150px, 325px) minmax(150px, 325px);
    }
    .display-tablet-desktop {
        display: flex;
        flex-direction: row;
        width: 250px;
        justify-content: space-between;
        text-transform: uppercase;
    }
    .display-mobile{
        display: none;
    }
    .contact-paragraph{
        max-width: 420px;
    }

    .header-container.first-level{
        width: 95%;
        max-width: 660px;
    }

    .header-container.map{
        flex-direction: row;
        width: 250px;
        justify-content: space-between;
    }

    .header-container.second-level{
        width: 95%;
        max-width: 660px;
        text-align: left;
        flex-direction: row;
        align-items: flex-start;
    }

    .header-item.picture{
        width: 45%;
        max-width: 500px;
    }
    .header-item.about{
        font-size: 20px;
    }
}

@media (min-width:1024px){
    .header-container.first-level{
        width: 90%;
        max-width: 1000px;
        margin-top: 30px;
        flex-direction: row;
        justify-content: space-between;
    }
    .header-container.second-level{
        width: 90%;
        max-width: 1000px;
    }
    .header-item.picture{
        max-width: 700px;
    }
    .header-item.about{
        font-size: 20px;
    }
    .portfolio.container{
        grid-template-columns: minmax(150px, 325px) minmax(150px, 325px) minmax(150px, 325px);
    }
}